<!DOCTYPE html>
<html>
<head>
  <title>Agetop</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider();
  });
  </script>
</head>
<body>

<div id="header_container">
	<div class="topo_azul"></div>
	<div class="topo_amarelo"></div>
	<div id="header" class="container_12">
		<div class="grid_6">
			<%= image_tag("logo_agetop.png") -%>
		</div>
		<div class="grid_6 topo_direita">
			<%= image_tag("logo_estado.png") -%>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="menu_container">
	<div id="menu" class="container_12">
		<div class="grid_12">
			<ul class="nav">
				<% cont = 0 %>
				<% @menu.each do |link| -%>
					<% cont = cont + 1 %>
					<li class="<%= 'last' if cont == @menu.size %> <%= 'first' if cont == 1 %>"><%= get_link(link) %></li>
				<% end -%>
			</ul>
		</div>
	</div>
</div>

<div id="content_container">
	<div id="content" class="container_12">
		<div class="grid_12">
			<div id="wrapper">
	        <div class="slider-wrapper theme-default">
	            <div class="ribbon"></div>
	            <div id="slider" class="nivoSlider">
	                <img src="/assets/nivo/fachada.png" width="940" alt="" />
	                <a href="http://dev7studios.com"><img src="/assets/nivo/fachada.png" alt="" title="Com caption" /></a>
	                <img src="/assets/nivo/fachada.png" alt="" />
	                <img src="/assets/nivo/fachada.png" alt="" title="#htmlcaption" />
	            </div>
	            <div id="htmlcaption" class="nivo-html-caption">
	                Com <a href="#"> link</a>.
	            </div>
	        </div>

	    </div>
		</div>
		
		<div class="grid_12">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
